.navbar{
    background-color: #202D36;
    height: 60px;
    color: white;
    letter-spacing: 1.1px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;

}

.navbar-title{
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-title img{
    width: 30px;
}


.avatar{

    object-fit: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.navbar-menu{
    width: 300px;
    height: 320px;
    border-radius: 10px;
    padding: 10px;

    background-color: white;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    position: absolute;
    top: 70px;
    right: 10px;
    z-index: 9999;

    display: none;
}

.navbar-menu.active{
    display: block;
}

.navbar-menu .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 15px;
}

.navbar-menu .header hr{
    background: #202D36;
}

.navbar-menu .header .user-data{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
}

.navbar-menu .header svg{
    cursor: pointer;
}


.navbar-menu .body{
    height: 80%;
    margin-top: 20px;
    position: relative;
}

.navbar-menu .body .logout{
    display: block;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    font-size: 20px;
    color: black;
    
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);


    display: flex;
    align-items: center;
    gap: 10px;

    position: absolute;
    bottom: 0px;
}

.navbar-menu .body ul li{
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    list-style: none;
    letter-spacing: 1.2px;
    color: black !important;
}

.navbar-menu .body ul li:hover{
    background-color: steelblue;
}

.navbar-menu .body ul li a{
    color: black;
    font-size: 18px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar-menu .body ul li a:hover{
    color: white;
}