<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <title>Términos y Condiciones</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
            padding: 20px;
            background-color: #f4f4f4;
        }
        h1, h2, h3 {
            color: #333;
        }
        p {
            margin: 0 0 15px;
        }
        section {
            margin-bottom: 20px;
        }
        ul {
            margin: 0 0 15px 20px;
        }
    </style>
</head>
<body>
    <header>
        <h1>GiftScan</h1>
        <h2>Términos y Condiciones</h2>
    </header>

    <main>
        <section>
            <h2>1. Introducción</h2>
            <p>Bienvenido a GiftScan. Al utilizar nuestra aplicación, aceptas cumplir con los siguientes términos y condiciones. Si no estás de acuerdo con alguno de estos términos, por favor, no utilices la aplicación.</p>
        </section>

        <section>
            <h2>2. Cuentas de Usuario</h2>
            <article>
                <h3>2.1. Registro de Cuentas</h3>
                <p>Para utilizar la aplicación, debes crear una cuenta de usuario proporcionando información veraz y completa. Es tu responsabilidad mantener la confidencialidad de tu información de inicio de sesión y notificar de inmediato al equipo de GiftScan cualquier uso no autorizado de tu cuenta.</p>
            </article>
            <article>
                <h3>2.2. Nombre de Usuario</h3>
                <p><strong>Requisitos de Nombre de Usuario:</strong> Tu nombre de usuario debe ser adecuado y no ofensivo. Nos reservamos el derecho de rechazar o modificar cualquier nombre de usuario que consideremos inapropiado.</p>
                <p><strong>Prohibiciones:</strong> No puedes utilizar nombres de usuario que:</p>
                <ul>
                    <li>Contengan lenguaje vulgar, obsceno, o insultante.</li>
                    <li>Sean difamatorios o infrinjan los derechos de otros.</li>
                    <li>Se asemejen a marcas registradas o nombres comerciales sin autorización.</li>
                </ul>
            </article>
        </section>

        <section>
            <h2>3. Uso de la Aplicación</h2>
            <article>
                <h3>3.1. Conducta Aceptable</h3>
                <p>Los usuarios deben utilizar la aplicación de manera responsable y ética. Está prohibido:</p>
                <ul>
                    <li>Participar en actividades fraudulentas o ilegales.</li>
                    <li>Interferir con el funcionamiento de la aplicación.</li>
                    <li>Intentar acceder a cuentas de otros usuarios.</li>
                    <li>Subir contenido pornográfico en fotos de perfil o cualquier contenido que pueda ser considerado sensible.</li>
                </ul>
            </article>
            <article>
                <h3>3.2. Privacidad</h3>
                <p>Respetamos tu privacidad y protegemos tus datos personales de acuerdo con nuestra Política de Privacidad, que forma parte integral de estos términos y condiciones.</p>
            </article>
        </section>

        <section>
            <h2>4. Derechos y Responsabilidades de los Vendedores</h2>
            <article>
                <h3>4.1. Registro y Verificación</h3>
                <p>Los vendedores deben proporcionar información precisa y verificable durante el registro. Nos reservamos el derecho de verificar la identidad y la legitimidad de los vendedores.</p>
            </article>
            <article>
                <h3>4.2. Ofertas y Promociones</h3>
                <p><strong>Autenticidad de las Ofertas:</strong> Los vendedores deben asegurarse de que todas las ofertas y promociones publicadas en la aplicación sean auténticas y cumplan con todas las leyes y regulaciones aplicables.</p>
                <p><strong>Respeto de las Promociones:</strong> Los vendedores están obligados a respetar todas las promociones y ofertas que establezcan en la aplicación. No pueden alterar, modificar o retirar una promoción una vez que ha sido publicada y está vigente, a menos que se obtenga el consentimiento previo y explícito de los usuarios afectados.</p>
            </article>
        </section>

        <section>
            <h2>5. Modificaciones a los Términos</h2>
            <p>GiftScan se reserva el derecho de modificar estos términos y condiciones en cualquier momento. Notificaremos a los usuarios sobre cualquier cambio significativo mediante la aplicación o el correo electrónico registrado.</p>
        </section>

        <section>
            <h2>6. Terminación de Cuenta</h2>
            <p>Podemos suspender o terminar tu cuenta en cualquier momento, sin previo aviso, si consideramos que has violado estos términos y condiciones.</p>
        </section>

        <section>
            <h2>7. Contacto</h2>
            <p>Para cualquier pregunta o preocupación sobre estos términos y condiciones, por favor, contacta a nuestro equipo de soporte en localdev2000@gmail.com</p>
        </section>
    </main>
</body>
</html>
